body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    display: flex;
    flex-wrap: wrap;
    width: 91px;
    border: 1px solid #999999;
    gap:1px;
}

#display{
    width: 95px;
    height: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-color: black;
}

.nums{
    background-color: gray;
    color: white;
}

.operate{
    background-color: lightsalmon;
}

#equal{
    background-color: lightsalmon;
}

#dot{
    background-color: lightsalmon;
}

button{
    border-radius: 10px;
    padding: 9px;
}

#del{
    width: 60px;
}